body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcfdfe;
  background: #ADD8E6;
  color: #4c3f54;
  font-family: verdana;
}

input{
  border-radius: 26px; 
   background: #fcfdfe;  
}
h1.h{
  font-size: 2em;
  padding: 2vh;
}

.h{
  text-align: center;
  display: block; 
  padding: 1vh;
   font-family: verdana;
}

form{
  padding: 2vh;
}

@media screen and (orientation: landscape){
   input{
    padding: 1vh 50px;
  }
}

@media screen and (orientation: portrait){
   input{
    padding: 1vh 15px;
     width: 35vw;
  }
}
